@model IEnumerable<AppGestionStockMVC.Models.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste de produits</h1>

<p>
    <a asp-action="Create">Créer un nouveau produit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) $
            </td>
                <td class="d-flex">
                    <form asp-action="Edit" method="get" asp-route-id="@item.Id">
                        <button class="btn btn-warning mx-1" type="submit">Edit</button>
                    </form>
                    <form asp-action="Details" method="post" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-info mx-1">Details</button>
                    </form>
                    <form asp-action="Delete" method="post" asp-route-id="@item.Id" onsubmit="return confirm('Confirmer la suppression du produit @item.Name ?');">
                        <button type="submit" class="btn btn-danger mx-1">Supprimer</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a href="@Url.Action("Export", "Stock", new { type = "excel" })" class="btn btn-success">Exporter en Excel</a>
    <a href="@Url.Action("Export", "Stock", new { type = "pdf" })" class="btn btn-danger">Exporter en PDF</a>
</div>