@model List<Commande>

<body>

    <div class="container mt-5">
        <h2 class="mb-4">Liste des Commandes</h2>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var commande in Model)
                {
                    <tr>
                        <td>@commande.Id</td>
                        <td>@commande.DateCommande.ToString("yyyy-MM-dd")</td>
                        <td>
                            <span class="badge bg-@(commande.Statut == "Livrée" ? "success" : "warning text-dark")">
                                @commande.Statut
                            </span>
                        </td>
                        <td>
                            <a href="@Url.Action("DetailsCommande", "Admin", new { id = commande.Id })" class="btn btn-sm btn-primary">Détails</a>
                            <a href="@Url.Action("Supprimer", "Admin", new { id = commande.Id })" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

   
</body>
</html>
